 div.main {
    padding: 10px;
    background-color: black;
  }
  
 h1, h2, h3, h4, h5, h6 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }

 ul, li, ol, p, span {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color:black;
 }

p#footer {
  color: white;
}